<div id="title">
  <%= @post.title %>
</div>

<div id="author">
  <%= @post.author %>
</div>
  
<div id="content">
  <%= @post.content %>
</div>
  


<% provide(:title, @post.title) %>


<%= link_to 'Back', posts_path %>
<%= link_to 'Edit Post', edit_post_path(@post) %>


    